page-intro {
  #entradas {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 100px;
    margin-bottom: 10px;  
}
#entrar {
  margin-left: auto;
  margin-right: auto;
  width: 5cm;
  border-radius: 100px;
  margin-bottom: 10px; 
  background-color: rgb(233, 116, 0);
  font-family: 'Yu Gothic UI'; 
}
img {
  max-width: 10cm;
}
}
